[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
ipytest = {editable = true,path = "."}
notebook = "*"
ipykernel = "*"

[dev-packages]
black = "==18.6b4"
invoke = "*"
wheel = "*"
twine = "*"
chmp = "*"
docutils = "*"
nbval = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.7"

[scripts]
package = "python setup.py bdist_wheel"
precommit = "invoke precommit"
format = "invoke format"
test = "invoke test"
integration = "invoke integration"
