[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
ipytest = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
test = "py.test tests"
