[project]
name = "ipytest"
version = "0.13.0"

authors = [{ name = "Christopher Prohm", email = "mail@cprohm.de" }]

description = "Unit tests in IPython notebooks"
readme = "Readme.md"
license = {text = "MIT"}

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Testing",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]

requires-python = ">=3.6"
dependencies = [
    "packaging", 
    "ipython", 
    "pytest>=5.4"
]

[project.urls]
repository = "https://github.com/chmp/ipytest"

[tool.setuptools]
packages = ["ipytest"]
